

/* Headings & Fonts */

h1, h2, h3, h4, h5, h6, p, label{
    font-family: 'Work Sans', sans-serif;}

h2{
    font-size:30px;
    line-height:34px;
  }

h3{
    font-weight: 600;
    color:blue;
  }

  p {
    color: gray;   
}
p strong{
    color:black;
    font-weight: 600;
}
.txt-chico{
    font-size:14px;
    margin: 2px 0 2px 0;
}

a {
   color: blue;
}

/* Header */

.header{
  padding-top:40px;  
}

.contenedor-logo{
text-align:center;
}

.logo{
    width: 220px;
}

/* Menu */

.contenedor-menu{
    display: flex;
    margin: auto;
}



nav.menu {
 text-align:center;
 overflow: hidden;
 margin: 10px auto;
}

@media only screen and (max-width: 480px){
  nav.menu {
    display:grid;
    margin: 10px auto 0 auto;
  }
}

nav.menu button{
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 2px 2px;
        margin: 0 10px;
      }

nav.menu button:hover {
    border-bottom: solid 2px black;
  }
  
nav.menu button.active {
    border-bottom: solid 2px blue;
  }

  /* Contenidos */

.tabcontent {
    display: none;
  }

.contenedor-columnas{
    display: flex;
    width:1400px;
    margin:auto;
    gap:20px;
    margin-top:30px;
    
}

@media only screen and (max-width: 480px){
    .contenedor-columnas {
      width:100%;
      display:grid;
    
    }
  }

.contenidos-cv {
    flex: 50%;
  }

.contenidos-cv-foto{
    flex: 50%;
    height: 800px;
    background-image: url(https://images.pexels.com/photos/1130626/pexels-photo-1130626.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    border-radius:30px;
    background-position: center center;
}

@media only screen and (max-width: 480px){
.contenidos-cv-foto{
    height: 300px;
    border-radius:10px;
    padding:0 20px;
    margin: 0 20px;
    background-position: center center;
}
}

div.tabcontent {
margin-top:30px;
padding:20px;
}

@media only screen and (max-width: 480px){
  div.tabcontent {
    margin-top:0 !important;
    padding:0 20px;
    }
}

div.info{
    margin-top:1rem;
    margin-bottom:2rem;
}
div.info-2{
width:80%;
}

ul.redes{
    list-style-type: none;
    padding-left:0;
}

ul.redes li{
    float:left;
    list-style-type: none;
    
}

i{
    padding: 10px 10px 10px 0;
    font-size:20px;
    color:blue;
    margin-bottom:0;
}

i:hover{
    color:gray;
}

a.rrss{
    text-decoration: none;
    color: gray;
    font-family: 'Work Sans', sans-serif;
    padding-right:20px;
}

a.rrss:hover{
    color: blue;
}
ul.items{
    padding-left:10px;
}

ul.items li{
    color: blue;
}

/* Acordeon - Experiencia Laboral */

.desplegable {
    cursor: pointer;
    padding: 0 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size:16px;
    background:none;
    display:flex;
    border-left: 2px solid blue;
    margin-top: 20px;
  }
  
.desplegable p{
    width:100%;
    margin:5px;
  }

.active{ 
    border-left: 2px solid blue;
  }
.desplegable strong:hover {
    color:blue !important;
  }

.panel {
    padding: 0 16px 10px 16px;
    background-color: white;
    display: none;
    overflow: hidden;
    border-left: 2px solid blue;
   
  } 

.desplegable:after {
    content: '\02795';
    font-size: 13px;
    color: blue !important;
    float: right;
    margin-left: 5px;
    align-items: center;
    display: flex;
    align-items:center;
  }
  
.desplegable.active:after {
    content: "\2796"; 
    color:blue !important;
  }


/* Barras de Habilidades */

.barra-habilidades {
  width: 100%; 
  background-color: lightgray;
  height: 5px;
  border-radius:5px;
  margin-bottom:20px;
}

.habilidad {
  height: 5px;
  border-radius:5px;
  margin-bottom:20px;
}

.java{
  width: 1%;
  background-color:blue;
}

.after {
  width: 30%;
  background-color:blue;
} 

.figma {
  width: 60%;
  background-color:blue;
}

.indesign {
  width: 75%;
  background-color:blue;
}  

.wp {
  width: 85%;
  background-color:blue;
} 

.illustrator {
  width: 90%;
  background-color:blue
} 


/* Formulario */
input[type=text], input[type=email], textarea {
  width: 100%; 
  padding: 14px 16px;
  border: 1px solid #ccc; 
  border-radius: 20px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical,
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color:blue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: black;
}